<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey.install" version="1.1.33.10" />
  <package id="azure-data-studio" version="1.34.0" />
  <package id="Boxstarter" version="2.13.0" />
  <package id="Boxstarter.Bootstrapper" version="2.13.0" />
  <package id="Boxstarter.Chocolatey" version="2.13.0" />
  <package id="Boxstarter.Common" version="2.13.0" />
  <package id="Boxstarter.HyperV" version="2.13.0" />
  <package id="Boxstarter.WinConfig" version="2.13.0" />
  <package id="chocolatey" version="1.1.0" />
  <package id="chocolatey-core.extension" version="1.3.5.1" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-visualstudio.extension" version="1.10.0" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
  <package id="chocolateygui" version="1.0.0" />
  <package id="docker-compose" version="1.29.2" />
  <package id="docker-desktop" version="4.4.4" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="dotnetfx" version="4.8.0.20190930" />
  <package id="Everything" version="1.4.11015" />
  <package id="fiddler" version="5.0.20211.51073" />
  <package id="git.install" version="2.35.0" />
  <package id="grepwin" version="2.0.10" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="keepass.install" version="2.50" />
  <package id="kubernetes-cli" version="1.23.3" />
  <package id="lazygit" version="0.34" />
  <package id="llvm" version="13.0.0" />
  <package id="microsoft-windows-terminal" version="1.12.10334.0" />
  <package id="mingw" version="11.2.0.07112021" />
  <package id="Minikube" version="1.25.1" />
  <package id="neovim" version="0.7.0" />
  <package id="netfx-4.8" version="4.8.0.20190930" />
  <package id="nodejs-lts" version="16.13.2" />
  <package id="notepadplusplus.install" version="8.4" />
  <package id="obs-studio" version="27.2.4" />
  <package id="obs-studio.install" version="27.2.4" />
  <package id="obsidian" version="0.14.6" />
  <package id="office365business" version="14729.20228" />
  <package id="OpenOffice" version="4.1.11" />
  <package id="OpenSSL.Light" version="3.0.1" />
  <package id="pandoc" version="2.17.0.1" />
  <package id="pgadmin4" version="6.9" />
  <package id="python2" version="2.7.18" />
  <package id="python3" version="3.10.2" />
  <package id="ripgrep" version="13.0.0.20210621" />
  <package id="slack" version="4.23.0" />
  <package id="tmp3C96.tmp" version="1.0.0" />
  <package id="tortoisesvn" version="1.14.1.29085" />
  <package id="vcredist140" version="14.30.30708" />
  <package id="vcredist2008" version="9.0.30729.616104" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vcredist2017" version="14.16.27033" />
  <package id="visualstudio-installer" version="2.0.2" />
  <package id="visualstudio2019enterprise" version="16.11.9.0" />
  <package id="visualstudio2019professional" version="16.11.9.0" />
  <package id="vlc" version="3.0.16" />
  <package id="vscode" version="1.63.2" />
  <package id="vscode.install" version="1.63.2" />
  <package id="winmerge" version="2.16.20" />
  <package id="winrar" version="6.10" />
  <package id="wsl-ubuntu-2004" version="20.4.0.20200912" />
</packages>